<span [ngClass]='{"app-nav-fixed": !static}'>
    <app-top-nav></app-top-nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <app-side-nav [sidenavStyle]="sidenavStyle" [sideNavItems]="sideNavItems" [sideNavSections]="sideNavSections">

            </app-side-nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid"><ng-content></ng-content></div>
            </main>
            <app-footer></app-footer>
        </div>
    </div>
</span>