// Light theme for sidenav
// Append .sb-sidenav-light to .sb-sidenav to use

.app-sidenav-light {
    background-color: $sidenav-light-bg;
    color: $sidenav-light-color;
    .app-sidenav-menu {
      .app-sidenav-menu-heading {
        color: $sidenav-light-heading-color;
      }
      .nav-link {
        color: $sidenav-light-link-color;
        .app-nav-link-icon {
          color: $sidenav-light-icon-color;
        }
        .app-sidenav-collapse-arrow {
          color: $sidenav-light-icon-color;
        }
        &:hover {
          color: $sidenav-light-link-active-color;
        }
        &.active {
          color: $sidenav-light-link-active-color;
          .app-nav-link-icon {
            color: $sidenav-light-link-active-color;
          }
        }
      }
    }
    .app-sidenav-footer {
      background-color: $sidenav-light-footer-bg;
    }
  }
  